{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failed</title>
    <link rel="stylesheet" href="{% static 'styles/style1.css' %}">
    <link rel="icon" href="{% static 'assets/logo-filled.webp' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container red">
        <div class="box red-shadow">
            <div class="text">
                <img src="{% static 'assets/fail.svg' %}" style="width: 100px;" alt="">
            </div>
            <br>
            <div class="text">
                <span style="font-size: 30px; font-weight: bold;">Failed</span>
            </div>
            <div class="text">
                <span style="font-size: 20px;">An error has occured!</span>
            </div>
            <br>
                <div class="textbox-3">
                    <button class="button-2" onclick="location.href='{% url 'setup' %}'"><span style="z-index: 3;color: black;position: relative;transition: color 0.3s ease;" class="label-1">Try Again</span></button>
                </div>
        </div>
    </div>
</body>
</html>