{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prove of Agreement Needed! | Signup | SmartCCTV Studio</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style2.css' %}">
    <link rel="icon" href="{% static 'assets/logo-filled.webp' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="back img-back3" style="background-image: url('{% static 'assets/grunge-wall-texture.jpg' %}') !important; background-repeat: no-repeat; background-size: cover;">
        <div style="width:600px; height: auto; padding:20px;display:flex; justify-content:center; flex-wrap: wrap; align-content: space-around;">
            {% if error %}
                <div class="flex-1 error-msg" style="margin-bottom: 20px; width: 600px !important;">
                    <img src="{% static 'assets/cancel.svg' %}" style="padding: 20px; box-sizing: border-box; width: 150px;">
                    <p style="text-align: center; font-size: 20px; padding: 30px;">{{error}}</p>
                </div>
            {% endif %}
            <div class="form-panel" style="border: 1px solid #3f3f3f; background-color: #323232; border-radius: 10px; width: 600px;">
                <div class="flex-2">
                    <img src="{% static 'assets/security.svg' %}" style="margin-left: 15px; padding: 8px; box-sizing: border-box; float: left; width: 80px;">
                    &nbsp;
                    <h2 style="text-align: left; font-size: 25px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px; float: left;">Prove of Agreement (Access Key) needed for signing up!</h2>
                </div>
                <hr style="border: 1px solid #3f3f3f;">
                <div class="flex-2" style="float: left; width: 100%; box-sizing: border-box;">
                    <p style="padding: 25px; box-sizing: border-box; float: left;">To make an account, you must have a code provided by your admin. These ensures the login system remain safety for all engineer.</p>
                </div>
                <div class="flex-2" style="float: left; width: 100%; box-sizing: border-box;">
                    <p style="padding: 25px; box-sizing: border-box; float: left; padding-top:0;padding-bottom:0;">Fill these to gain access.</p>
                </div>
                <br>
                <div class="flex-2" style="float: left; width: 100%; box-sizing: border-box; padding: 25px;">
                    <form action="" method="post" style="box-sizing: border-box !important; width: 100% !important;">
                        {% csrf_token %}
                        <div class="textbox-1" style="width: 100% !important;">
                            <img src="{% static 'assets/lock.svg' %}" style="padding: 15px; box-sizing: border-box;">&nbsp;<input type="text" placeholder="Access Key 1" class="input-1" name="acc1">
                        </div>
                        <br>
                        <div class="textbox-1" style="width: 100% !important;">
                            <img src="{% static 'assets/lock.svg' %}" style="padding: 15px; box-sizing: border-box;">&nbsp;<input type="text" placeholder="Access Key 2" class="input-1" name="acc2">
                        </div>
                        <br>
                        <div class="textbox-3" style="width: 100% !important;"> 
                            <button type="submit" class="button-1"><span style="z-index: 3;color: black;position: relative;transition: color 0.3s ease;" class="label-1">Request Sign Up Access</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     </div>
    <script src="{% static 'scripts/dynamic.js' %}"></script>
</body>
</html>